body{
	background-image: url(http://www.toysrus.co.uk/assets/rsp/images/featured-image-MLP-1356x840.png);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: top;

    text-align: center;
}
.card {
	width: 150px;
	margin: 0 2px;
}
.found{
	display: inline-block;
}
